// _variable.scss

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$colors: (
  primary: (
    light-red: hsl(356, 100%, 66%),
    very-light-red: hsl(355, 100%, 74%),
    very-dark-blue: hsl(208, 49%, 24%),
  ),
  neutral: (
    white: hsl(0, 0%, 100%),
    grayish-blue: hsl(240, 2%, 79%),
    very-dark-grayish-blue: hsl(207, 13%, 34%),
    very-dark-black-blue: hsl(240, 10%, 16%),
  ),
  gradient: (
    intro-cta: (
      very-light-red: hsl(13, 100%, 72%),
      light-red: hsl(353, 100%, 62%),
    ),
    body: (
      very-dark-gray-blue: hsl(237, 17%, 21%),
      very-dark-desaturated-blue: hsl(237, 23%, 32%),
    ),
  ),
);

$fonts: (
  overpass: "Overpass",
  ubuntu: "Ubuntu",
);

$font-weights: (
  overpass: (
    light: 300,
    semi-bold: 600,
  ),
  ubuntu: (
    regular: 400,
    medium: 500,
    bold: 700,
  ),
);
